{
  "env": {
    "browser": true,
    "node": true,
  },
  "globals": {
    "React": true,
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "classes": true,
    "generators": true,
    "arrowFunctions": true,
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "semi": [2, "always"],
    "arrow-body-style": [2, "always"],
    "react/jsx-no-bind": 0,
  }
}
