{
  "env": {
    "browser": true,
    "node": true,
  },
  "globals": {
    "React": true,
  },
  "ecmaFeatures": {
    "jsx": true,
    "classes": true,
    "generators": true,
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
}
